@import './bootstrap.min.css'
// @import './bootstrap-theme.min.css'

.fix
  display block
  width 0
  height 0
  visibility hidden
  clear both
  float none


#wrapper
  width 100%

h2
  margin 1.4em 0 0

p
  margin 1.7em 0

.glyphicon
  display inline-block
  width 1.2em

dt
  margin 1.7em 0 0

dd
  padding 0 15px

.back-top
  margin 4em 0
