.olympic-emblem
  margin     0
  padding    0
  display    block
  position   relative
  width      $base_len
  height     $base_len
  background transparent

// .olympic-emblem .part,
// .olympic-emblem .part .white_circle_wrapper,
// .olympic-emblem .part .white_circle_wrapper .white_circle
//   transition convert(gen_transition_prop($transition_props, $duration))

.olympic-emblem .part
  will-change top, left, background-color, border-radius, width, height
.olympic-emblem .part .white_circle_wrapper
  will-change top, left, width, height, visibility
.olympic-emblem .part .white_circle_wrapper .white_circle
  will-change top, left, visibility

.part
  margin     0
  padding    0
  display    block
  position   absolute
  width      $1_3
  height     $1_3
  overflow   hidden
  border     none
  background transparent


// color

.gold
  background $gold

.silver
  background $silver

.gray
  background $dark_gray

.red
  background $sun_red

.blank
  background transparent
  .white_circle_wrapper
    visibility hidden


// detail

// --- .pole ---
.pole2_v
  height $1_3 * 2
.pole2_h
  width $1_3 * 2
.pole3_v
  height $1_3 * 3
.pole3_h
  width $1_3 * 3

// --- .circle ---
.circle_s,
.circle_l
  border-radius $half

.circle_l
  width  100%
  height 100%

// white_circle_wrapper

.part
  .white_circle_wrapper
    display    block
    position   absolute
    background transparent
    .white_circle
      margin     auto
      top        -10000%
      left       -10000%
      right      -10000%
      bottom     -10000%
      display    block
      position   absolute
      background white
      border-radius $half

.arc,
.circle_s,
.pole1,
.blank
  .white_circle_wrapper
    width  100%
    height 100%

.pole2_v
  .white_circle_wrapper
    width  100%
    height $half

.pole2_h
  .white_circle_wrapper
    width  $half
    height 100%

.pole3_v
  .white_circle_wrapper
    width  100%
    height $1_3

.pole3_h
  .white_circle_wrapper
    width  $1_3
    height 100%

.circle_l
  .white_circle_wrapper
    width  $1_3
    height $1_3

.white_circle
  width  $circle_radius * 2 * 3
  height $circle_radius * 2 * 3

.arc
  &.rotate0
    .white_circle_wrapper
      top  100%
      left 100%
  &.rotate90
    .white_circle_wrapper
      top  100%
      left -100%
  &.rotate180
    .white_circle_wrapper
      top  -100%
      left -100%
  &.rotate270
    .white_circle_wrapper
      top  -100%
      left 100%

.circle_s,
.pole1,
.blank
  &.rotate0
    .white_circle_wrapper
      top  200%
      left 200%
  &.rotate90
    .white_circle_wrapper
      top  200%
      left -300%
  &.rotate180
    .white_circle_wrapper
      top  -200%
      left -200%
  &.rotate270
    .white_circle_wrapper
      top  -200%
      left 200%

.pole2_h,
.pole3_h
  &.rotate0
    .white_circle_wrapper
      top  200%
      left 100%
  &.rotate90
    .white_circle_wrapper
      top  200%
      left -100%
  &.rotate180
    .white_circle_wrapper
      top  -200%
      left -100%
  &.rotate270
    .white_circle_wrapper
      top  -200%
      left 100%

.pole2_v,
.pole3_v
  &.rotate0
    .white_circle_wrapper
      top  100%
      left 200%
  &.rotate90
    .white_circle_wrapper
      top  100%
      left -200%
  &.rotate180
    .white_circle_wrapper
      top  -100%
      left -200%
  &.rotate270
    .white_circle_wrapper
      top  -100%
      left 200%

.circle_l
  &.rotate0
    .white_circle_wrapper
      top  100% + $1_3
      left 100% + $1_3
  &.rotate90
    .white_circle_wrapper
      top  100% + $1_3
      left -(100% + $1_3)
  &.rotate180
    .white_circle_wrapper
      top  -(100% + $1_3)
      left -(100% + $1_3)
  &.rotate270
    .white_circle_wrapper
      top  -(100% + $1_3)
      left 100% + $1_3

// positioning
.pos_0_0
  left 0
  top  0
.pos_0_1
  left 0
  top  $1_3 * 1
.pos_0_2
  left 0
  top  $1_3 * 2
.pos_1_0
  left $1_3 * 1
  top  0
.pos_1_1
  left $1_3 * 1
  top  $1_3 * 1
.pos_1_2
  left $1_3 * 1
  top  $1_3 * 2
.pos_2_0
  left $1_3 * 2
  top  0
.pos_2_1
  left $1_3 * 2
  top  $1_3 * 1
.pos_2_2
  left $1_3 * 2
  top  $1_3 * 2
.pos_3_0
  left $1_3 * 3
  top  0
.pos_3_1
  left $1_3 * 3
  top  $1_3
.pos_3_2
  left $1_3 * 3
  top  $1_3 * 2
