// length
$base_len = 500px
$half     = 50%
$1_3      = 100% / 3
$1_6      = 100% / 6
$circle_radius   = 52.70462766947299%

// color
$gold      = #b49146
$silver    = #b4b4b4
$dark_gray = #373737
$sun_red   = #e60314

// transitions
$transition_props = top left background-color border-radius
$duration         = 800ms
$easing           = 'cubic-bezier(.26,.92,.41,.98)'
