// length
$base_len = 500px
$harf_len = 50%
$1_3      = 100% / 3
$1_6      = 100% / 6
$circle_radius   = 52.70462766947299%

// color
$gold      = #b49146
$silver    = #b4b4b4
$dark_gray = #373737
$sun_red   = #e60314
